<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}" type="image/x-icon">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/prism-onedark.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ 'PiGames' }}{% endif %}" />

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:site" content="@pigames_studio" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  {% if page.title %}
    <!-- Article specific OG data -->
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{page.date}}" />
    {% if page.modified %}
      <meta property="article:modified_time" content="{{page.modified}}" />
    {% endif %}
    <meta property="article:author" content="http://facebook.com/aramzs" />
    <meta property="article:publisher" content="https://www.facebook.com/aramzs" />
    <meta property="article:section" content="{{page.vertical}}" />
    {% for tag in page.categories %}
      <meta property="article:tag" content="{{tag}}" />
    {% endfor %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@chronotope" />
    <meta name="twitter:title" content="{{page.title}}" />
    {% if page.imagenull %}
      <!-- no og image -->
    {% elsif page.image %}
      <meta property="og:image" content="{{page.image | absolute_url}}" />
        <meta name="twitter:image" content="{{page.image | absolute_url}}" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="315" />
      {% elsif page.image %}
        <meta property="og:image" content="{{page.image | absolute_url}}" />
        <meta name="twitter:image" content="{{page.image | absolute_url}}" />
      {% else %}
        <meta property="og:image" content="{{ "/assets/image/logo.png" | absolute_url }}" />
        <meta name="twitter:image" content="{{ "/assets/image/logo.png" | absolute_url }}" />
      {% endif %}
    {% else %}
<!-- OG data for homepage -->
    <meta property="og:image" content="{{ "/assets/image/logo.png" | absolute_url }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:image" content="{{ "/assets/image/logo.png" | absolute_url }}" />
  {% endif %}
</head>
