<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include nav.html %}

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script type="text/javascript">
      const code = document.querySelectorAll( "pre code" );
      code.forEach( ( singleCode ) => {
        singleCode.classList.add( "line-numbers" );
      } );
    </script>
    <script src="{{ "/assets/prism.js" | relative_url }}" charset="utf-8"></script>
  </body>
</html>
