---
layout: default
---
<h1 class="page-heading">Posts</h1>

{{ content }}

<div class="post-list" itemscope itemtype="https://schema.org/Blog">
  {% for post in paginator.posts %}
    <article class="blog-post" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
      <a class="header-image" href="{{ post.url | relative_url }}">
        <div style="background-image: url('{{post.image}}')"></div>
      </a>
      <div class="header-content">
        <header>
          <small>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <a class="post-link" href="{{ post.author | prepend: "author/" | relative_url }}" itemscope itemtype="http://schema.org/Person">
                {{ post.author }}
              </a>
            </span>
            <span>{{ post.categories | join: ", " }}</span>
            <time datetime={{ post.date | date: site.date_format_datetime }} itemprop="datePublished" title="Published">{{ post.date | date: site.date_format }}</time>
          </small>
          <h2 itemprop="name">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </header>
        <main>
          {% assign paragraphs = post.content | split: "</p>" %}
            {% if post.description %}
              {{ post.description }}
            {% else %}
              {% for paragraph in paragraphs limit:site.post_desc_p %}
                {{ paragraph }}
              {% endfor %}
            {% endif %}

          <p><a class="post-link" href="{{ post.url | relative_url }}">Read more...</a></p>
        </main>
      </div>
    </article>
  {% endfor %}

  {% if paginator.total_posts > paginator.per_page %}
    <p class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-angle-left"></i> Previous</a>
      {% else %}
        <span class="previous"><i class="fa fa-angle-left"></i> Previous</span>
      {% endif %}

      {% for i in (1..paginator.total_pages) %}
        {% if i != paginator.page %}
          {% if i == 1 %}
            <a href="/">{{ i }}</a>
          {% else %}
            <a href="/page{{ i }}">{{ i }}</a>
          {% endif %}
        {% else %}
          <strong>{{ i }}</strong>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next <i class="fa fa-angle-right"></i></a>
      {% else %}
        <span class="next">Next <i class="fa fa-angle-right"></i></span>
      {% endif %}
    </p>
  {% endif %}
</div>
