---
layout: default
---
<h1 class="page-heading">Posts</h1>

{{ content }}

<div class="post-list" itemscope itemtype="https://schema.org/Blog">
  {% for post in site.posts %}
    <article class="blog-post" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
      <header>
        <small>
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <a class="post-link" href="{{ post.author | prepend: "author/" | relative_url }}" itemscope itemtype="http://schema.org/Person">
              {{ post.author }}
            </a>
          </span>
          <span>{{ post.categories | join: ", " }}</span>
          <time datetime={{ post.date | date: site.date_format_datetime }} itemprop="datePublished" title="Published">{{ post.date | date: site.date_format }}</time>
        </small>
        <h2 itemprop="name">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </header>
      <main>
        {% assign paragraphs = post.content | split: "</p>" %}

          {% if post.description %}
            {{ post.description }}
          {% else %}
            {% for paragraph in paragraphs limit:site.post_desc_p %}
              {{ paragraph }}
            {% endfor %}
          {% endif %}

        <p><a class="post-link" href="{{ post.url | relative_url }}">Read more...</a></p>
      </main>
    </article>
  {% endfor %}
</div>
