.blog-post
  h2
    margin: .25em 0

  small
    color: $text-muted
    font-size: 14px

  small, h2
    display: block

  small > *
    &::after
      content: " / "

    &:last-child::after
      content: ""

  img
    max-width: 100%

.blog-full
  header
    h1
      margin-bottom: 0

    small
      margin-bottom: 16px

    .header-image
      width: 100%
      margin-bottom: 16px
      border-radius: 8px
      background: $main-color
      background-position: center center
      background-size: cover

      @media (min-width: 768px)
        height: 50vh
