body
  color: $text-color
  font-family: "Nunito", sans-serif

h1
  margin: .5em 0
  font-size: 3em

h2
  display: inline-block
  margin: 0 auto
  font-size: 2em

h3
  margin: .5em 0

a
  text-decoration: none

  &:hover
    text-decoration: underline

  &, &:active, &:visited
    color: $main-color
